body{background-color:Cyan;}


.container{
width:70%;
float:left;
}
.thank{
padding-top:200px;
padding-left:30px;}

.list{
background:white;
padding:10px;
border:1px solid black;
border-radius:20px;
margin:10px;}

.description{
background:white;
padding:10px;
border:1px solid black;
border-radius:20px;
margin:10px;}
}

h1{text-align:center;
font-family: "Times New Roman", Times, serif;
}
h2{
font-family: serif;
color:MidnightBlue;
font-size:40px;
}

button {
  font-size: 10px;
}
.content{
width=90%;}
.sidebar{
width:30%;
border-radius:20px;
float:right;
background-color:Azure;
color:black;
text-align:center}

.li{
padding-left:70px;
text-align:left;}
#p{
text-family:italic;}
#c{
color:MidnightBlue;
font-size:20px;
font-style:italic;
border-top:2px solid yellow
}
.para{
text-size:20px;}
.add{
padding-top=20px;}
